.app-wrapper {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
}

main {
    padding: 50px 20px;
}

.mainWrapper {
    max-width: 1140px;
    width: 60dvw;
    height: 75dvh;
    overflow: auto;
    display: grid;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 15px 2px #0c11f9;
    font-size: 24px;
    font-weight: 400;
    background-color: #c5c6fe;
}

.pageTitle {
    display: block;
    width: 200px;
    text-align: center;
    margin: 30px auto;
}
