.app-wrapper {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
}

header {
    background-color: rgb(44, 171, 17);
    grid-area: 1/1/span 1/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


aside {
    background-color: rgb(156, 156, 156);
    border: 2px solid green;
    border-radius: 20px;
    margin-top: 20px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside img {
    width: 90px;
    height: 90px;
    animation: rotator 10s infinite cubic-bezier(.52, 2, .35, .27) alternate;
    display: block;
    margin: 10px auto;
}


main {

}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}


ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

@keyframes rotator {
    from {
        transform: rotate(0deg) scale(0.8);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}